.good-reviews__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.good-review__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;

    @media (max-width: 1300px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 800px) {
        grid-template-columns: 1fr;
    }
}


.good-reviews__swiper {
    display: flex;
    gap: 20px;
}

.good-reviews__title {
    display: flex;
    justify-content: space-between;

    img {
        width: 30%;

        @media (max-width: 500px) {
            width: 40%;
        }
    }


}